@page
@model RazorPractice.Pages.BookList.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Books.ISBN" class="control-label"></label>
                <input asp-for="Books.ISBN" class="form-control" />
                <span asp-validation-for="Books.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Books.Title" class="control-label"></label>
                <input asp-for="Books.Title" class="form-control" />
                <span asp-validation-for="Books.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Books.fAuthor" class="control-label"></label>
                <input asp-for="Books.fAuthor" class="form-control" />
                <span asp-validation-for="Books.fAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Books.lAuthor" class="control-label"></label>
                <input asp-for="Books.lAuthor" class="form-control" />
                <span asp-validation-for="Books.lAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Books.price" class="control-label"></label>
                <input asp-for="Books.price" class="form-control" />
                <span asp-validation-for="Books.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
